---
export interface Props {
	title: string;
	link1_title: string;
	link1_desc: string;
	link2_title: string;
	link2_desc: string;
}

const { title, link1_title, link2_title, link1_desc, link2_desc } = Astro.props;
---

<div class="flex flex-row bg-orange-200">
	<a href="/" class="basis-1/2">
		<h1 class="main-title text-gradient">{title}</h1>
	</a>
	<a href={link1_desc} class="flex w-90 header-links">
		<h3 class="mx-8 place-self-center">{link1_title}</h3>
	</a>
	<a href={link2_desc} class="w-90 header-links px-8">
		<h3 class="mx-8 place-self-center">{link2_title}</h3>
	</a>
</div>

<style>
	div {
		width: 100vw;
		background-color: rgb(253 215 170);
	}
	div > * {
		display: inline-flex;
	}
	.main-title {
		font-size: 50px;
		font-weight: 900;
		margin-right: 100px;
	}
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.header-links {
		color: rgb(9, 92, 143);
		font-size: 30px;
		font-weight: 600;
		width: 80px;
		margin: 0 32px;
	}
</style>
